.content{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #F0F2F5;
}

.text-column{
    padding-top: 90px;
    padding-left: 160px;
}

.text-column h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
    font-size: 60px;
    font-weight: 700;
    color: #1877F2;
    letter-spacing: -4px;
    

}

.text-column h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
    /* background-color: aquamarine; */
    width: 450px;

}

.form-field-1{
    height: 52px;
    margin-top: 8px;
    padding-left: 5px;
    /* background-color: aqua; */
    
}

.form-field-1::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    /* color: #1d2129; */
    
}

.form-field-2{
    height: 52px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 0px;
    padding-left: 5px;
    /* background-color: aqua; */
    
}

.form-field-2::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    /* color: #1d2129; */
    
}

.login-button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
    /* line-height: 48px; */

}

.signup-button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #36A420;
    color: white;
    /* line-height: 48px; */

}

.signup-button:hover{
    background-color: #36A420;
    color: white;
    /* line-height: 48px; */

}

.form-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 140px;
}

.form-column p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1c1e21;


}

.card a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;


}

.bottom-text a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 13px;
    color: #1c1e21;   


}

.card-1{
    width: 400px;
    margin-bottom: 12px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    width: 320px;
}


.modal-title{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.modal-title h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.modal-title p{
    /* font-weight: 600; */
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}


.modal-header{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.form-check{
    /* background-color: aqua; */
    width: 130px;
    height: 37px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-check-label{
    font-size: smaller;
}

.radio-set{
    display: flex;
    justify-content: space-evenly;

}

.form-check-input{
    margin: 80px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

.dob{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 2px;
    color: #606770;
}

.form-check-label{
    font-family: Arial, Helvetica, sans-serif;
    color: #606770;
}

.gender{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 2px;
    color: #606770;
}

.terms{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 2px;
    color: #606770;
}


.modal-dialog-centered{
    width: 432px;
    height: 490px;
}

.mdl-footer{
    display: flex;
    justify-content: center;
}

.signup-btn{
    background-color: #36A420;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: large;
    font-weight: 500;
    width: 40%;
    color: white;
    margin-bottom: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.signup-btn:hover{
    background-color: #36A420;
    color: white;

}

btn-account{
    margin-left: 20px;
}

.reset-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    /* background-color: #36A420; */
}

.col-auto p{
    font-size: 14px;
    color: #1877F2;
}


.account-card{
    width: 40%;
}

.account-card h5{
    font-weight: 600;
}

.card-header{
    background-color: white
    ;
}

.card-body p{
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.account-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #E9EBEE;
}

.btn-secondary{
    background-color: #E4E6EB;
    border: 1px  solid #E4E6EB;
    color: #4B4F56;
    font-weight: 600;
}

.btn-primary{
    font-weight: 600;
}

.button-grp{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    /* background-color: #36A420; */
    width: 100%;
}

.btn-1{
    margin-left: 15px;
}





.navbar-Brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #1877F2;
    text-decoration: none;
    

}

.navbar-Brand:hover{
    color: #1877F2;
    text-decoration: none;
    

}


@media (min-width: 370px) and (max-width: 520px) {
    .text-column{
        padding-top: 0px;
        padding-left: 0px;
    }

    .form-column{
        padding-left: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card{
        width: auto;
        margin-bottom: 12px;    
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    hr{
        width: 250px;
    }

    .text-column h4{
        width: auto;
    
    }
    
    }